
.header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/otigas/OneDrive/projects/resources/images/pattern.webp");
    

}
.brashes h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;


}

.frames h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;


}

.paint h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;


}

h4 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: black;

}

h5 {
    font-family: helvetica;
    font-weight: bold;
    color:blue;
}

p {
    font-size: 20px; 
}

.footer {
    font-family: helvetica;
    font-weight: bold;
    color:black;
    font-size: 20px;
    text-align: center;
}